<!DOCTYPE html>
<html lang="en">
<head>
        
    <%-include('./inc/head')%>

    <link rel="stylesheet" href="/style/addBlogForm.css">
    <script src="/ckeditor/ckeditor.js" type="text/Javascript"></script>
    
</head>
<body>
    <%-include('./inc/nav')%>
    <header class="masthead" style="background-image: url('img/home-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Add Blog</h1>

                        <% if(typeof alert != "undefined"){ %> 
                            <% alert.forEach(function(error){ %> 
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                   <%= error.msg %> 
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                  </div>
                
                                  <% }) %>
                        <% } %>  

                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="center">
        <% if(data == null) {%>
        <form action="/blog/add" enctype="multipart/form-data" method="post">
            
            <div class="input-div">
                <input type="text" class="form-element" name="title" placeholder="Blog başlığı girin"   >
            </div>
            <div class="input-div">
                <textarea id="w3review" name="long" rows="25" ></textarea>
            </div>
            <div class="input-div">
                <input type="file" name="webuserimage">
            </div>

            <div class="input-div">
                <label for="category">Choose a Category:</label>

                <select name="category" id="category">
                    <option value="Technology">Technology</option>
                    <option value="News">News</option>
                    <option value="Personal writing">Personal writing</option>
                    <option value="history of art" selected>History of Art</option>
                </select>
            </div>
            
            <input type="submit" id="btn" value="Add Blog">
            
        </form>
        <%} else{ %>
        <form action="/blog/update/<%=data._id%>" enctype="multipart/form-data" method="post">
           
                <div class="input-div">
                    <input type="text" class="form-element" name="title" value="<%=data.title %>" >
                </div>
                <div class="input-div">
                    <textarea id="w3review" name="long" rows="25" ><%= data.long %></textarea>
                </div>
                
                <div class="input-div">
                    <label for="category">Choose a Category:</label>
    
                    <select name="category" id="category"  >
                        <option value=<%= data.category %>><%= data.category %> </option>
                        <option value="Technology">Technology</option>
                        <option value="News">News</option>
                        <option value="Personal writing">Personal writing</option>
                        <option value="history of art" >History of Art</option>
                    </select>
                </div>

            <input type="submit" id="btn" value="Update Blog">
            
        </form>
        <% } %>
    </div>

    <script>
       
        CKEDITOR.replace('w3review')
       
       
    </script>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/script/scripts.js"></script>
    
    
</body>
</html>