<!DOCTYPE html>
<html lang="en">
<head>
    
    <%-include('./inc/headHome')%>
    <link rel="stylesheet" href="/style/addBlogForm.css">
    <link rel="stylesheet" href="/style/nav.css">
    
</head>
<body>
    <%-include('./inc/nav')%>
    <div class="center">
        <% if(data == null) {%>
        <form action="/blog/add" enctype="multipart/form-data" method="post">
            
            <div class="input-div">
                <input type="text" class="form-element" name="title" placeholder="Blog başlığı girin" required  >
            </div>
            <div class="input-div">
                <textarea id="w3review" name="long" rows="25" ></textarea>
            </div>
            <div class="input-div">
                <input type="file" name="webuserimage">
            </div>
            
            <input type="submit" id="btn" value="Add Blog">
            
        </form>
        <%} else{ %>
        <form action="/blog/update/<%=data._id%>" enctype="multipart/form-data" method="post">
           
                <div class="input-div">
                    <input type="text" class="form-element" name="title" value="<%=data.title %>" >
                </div>
                <div class="input-div">
                    <textarea id="w3review" name="long" rows="25" ><%=data.long %></textarea>
                </div>
            

            <input type="submit" id="btn" value="Update Blog">
            
        </form>
        <% } %>
    </div>

    
</body>
</html>