<!DOCTYPE html>
<html lang="tr">

<head>

    <%-include('./inc/headHome')%>
    <link rel="stylesheet" href="/style/nav.css">
    <link rel="stylesheet" href="/style/homePage.css">


    
</head>

<body>
    <%-include('./inc/nav')%>

    <h2 style="position: absolute; top:8px;left :12px ; color: white;">Node Blog </h2>

    <div class="center container">
            
             <ul>
                
                    <li>   
                        <div class="post blog radius-20px">
                          <img src="/img/<%=blog.imgName%>"  alt="" ><br><br>
                            <div class="post-body">
                                <h1 class="post-header" ><%=blog.title %></h1><br><br>
                                <p class="post-long"><%=blog.long %></p>

                                <div class="author-div">
                                    <p class="author" style="text-align: left;">Yazar : <%=blog.author.username %></p>
                                </div>
                                

                                <div class="date-div">
                                    <p class="date" style="text-align: right; "><%=blog.createdAt%></p>
                                </div>
                                
                            </div>
                            <ul>
                                <% if(user){%>
                                <li>
                                    <h4>Yorum Yaz</h4>
                                    <form action="/blog/comment" method="post">
                                        <input type="text" name="comment" placeholder="Yorum yaz">
                                        <input type="text" style="visibility:hidden; width: 0;" name="authorId" value=<%=user._id%> >
                                        <input type="text" style="visibility:hidden; width: 0;" name="blogId" value=<%=blog._id%> >
                                        <br>
                                        <input type="submit" value="Gönder" >
                                    </form>
                                </li> 
                                <% } %>
                                <li><h4>Yorumlar</h4></li> 
                                <% blog.comments.forEach((data)=>{ %>
                                    <li>
                                        <p><%=data.comment%> <span style="background-color: yellow;">Yazar : <%=data.author%></span>  </p>
                                    </li>
                                <% }) %>
                            </ul>
                        </div>
                    </li>
                    
                
           
            
        </ul>
        
    </div>


</body>

</html>