<!DOCTYPE html>
<html lang="tr">
    
    <head>
    
        
        <%-include('./inc/head')%>
    </head>
    <body>
        <%-include('./inc/nav')%>
        <%-include('./inc/header')%>
        <% if(typeof error != "undefined"){ %> 
         
            <div class="alert alert-warning alert-dismissible fade show" style="width: 50%; margin: 0 auto;" role="alert">
               <%= error%> 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>

             
        <% } %>
        <div style="width: 1140px; margin:0 auto; height: 500px;" >
            <div style="width: 80%; margin: 0 auto; padding: 20px ;background-color: #D7DCE2; border-radius: 5px;" ;>
                <form action="/blog/categoryAdd" id="addCategory" method="post" style="  text-align: center; margin: 0 auto;">
                    <h4>Add Category</h4>
                    <input type="text" name="blogCategory" style="line-height: 20px; width: 100%;">
                    <input type="submit" value="Send" style=" padding:0 12px; border-radius: 2px; border: none; margin-top: 5px" >
                </form>
                <div style="width: 100%; margin: 20px auto; ">
                    <% categories.forEach((category)=> { %>
                    <div style="position: relative; margin-bottom: 5px; background-color: white;">
                        <p style="padding-left: 5px;">
                            <%=category.name%>
                            <div class="button" style="position: absolute; right: 10px; top: 0;cursor: pointer;"><a onclick="deleteCategory('<%=category._id%>','<%=category.name%>')" ><i class="far fa-times-circle" style="color: red;"></i></a> </div>
                            <div class="button" style="position: absolute; right: 30px; top: 0;cursor: pointer;"><a onclick="show('<%=category.name%>')"><i class="fas fa-edit" style="color: rgb(44, 209, 44);"></i></a></div>
                        </p>
                        <div class="<%=category.name%>" style="display: none; padding:0 5px 5px 5px">
                            <input type="text" id="<%=category.name%>" value="<%=category.name%>" style="width: 100%;">
                            <input type="button" onclick="updateCategory('<%=category._id%>','<%=category.name%>')" value="Update" style=" padding:0 12px; border-radius: 2px; border: none; margin-top: 5px; background-color: greenyellow;">
                        </div>
                        
                    </div>
                    <%})%>
                   
                </div>
            </div>
            
        
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>

        function deleteCategory(categoryId,name){
            
            if (confirm(`Are you sure delete to ${name}`)) {
                axios.delete(`/blog/deleteCategory/${categoryId}`).then((response)=>{
                    if(response.status){
                        window.location.reload();
                    }
                    else{
                        alert(response.message)
                    }
                })
            }
        }
        function show(categoryName){
           if(document.getElementsByClassName(categoryName)[0].style.display == "none"){
            document.getElementsByClassName(categoryName)[0].style.display = "block";
           } 
           else{
            document.getElementsByClassName(categoryName)[0].style.display = "none";
           }
        }
        function updateCategory(categoryId,name){
            
            categoryName = document.getElementById(name).value.toString();
            
            axios.put(`/blog/updateCategory`,{categoryId : categoryId,categoryName : categoryName }).then((response)=>{
                    if(response.status){
                        window.location.reload();
                        
                    }
                    else{
                        alert(result.message)
                    }
                })
        }
    </script>
</html>