<!DOCTYPE html>
<html lang="tr">

<head>

    <%-include('./inc/head')%>
    <style>
       #controlComment input[type=text]{

        width: 100%;
        line-height: 15px;
        border: none;
       } 
       @media only screen and (min-width: 1400px) {
        .deleteBtn{
            position: absolute !important; 
            bottom: 10.5% !important; 
            right: 0 !important;
            padding-top: 0;padding-bottom: 0;
       }
       }
       @media only screen and (min-width: 1200px) {
        .deleteBtn{
            position: relative;
            display: block !important; 
            margin-left: 46% !important;
            padding-top: 0;
            padding-bottom: 0;
       }
       }
       @media only screen and (min-width: 770px) {
        .deleteBtn{
            position: relative;
            display: block !important; 
            margin-left: 46% !important;
            padding-top: 0;
            padding-bottom: 0;
       }
       }
       @media only screen and (min-width: 500px) {
        .deleteBtn{
            position: relative;
            display: block !important; 
            margin-left: 41% !important;
            padding-top: 0;
            padding-bottom: 0;
       }
       }
       @media only screen and (max-width: 500px) {
        .deleteBtn{
            position: relative;
            display: block !important; 
            margin-left: 38% !important;
            padding-top: 0;padding-bottom: 0;
       }
}
    </style>
    <link rel="stylesheet" href="/style/btn.css">
</head>

<body>
    <header class="masthead" style="background-image: url('img/home-bg.jpg'); padding-top: 2rem;padding-bottom: 3rem;">
        <%-include('./inc/nav')%>
    </header>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7" style="position: relative;">
                <h3 class="post-header" style="text-align: center;">Comments Pending Approval</h3>
                <!-- Post preview-->
                <% comments.forEach( (comment) => { %>
                    <div style="position: relative;">
                        <form  action="/blog/comment" id="contactForm" method="post" style="width: 50%; margin: 0 auto;" >
                            <div id="message" class="form-floating warning"></div>
                            <div class="form-floating" style="pointer-events: none;">
                                <input class="form-control" id="comment" name="comment" type="text" value="<%=comment.comment%>" required />
                                <label for="comment">Comment</label>
                                
                            </div>
                            <div class="form-floating" style="pointer-events: none; width: 0; height: 0;">
                                <input class="form-control" id="blogId" name="blogId" type="text" value="<%=comment.blogId._id%>" required />
                                <label for="blogId">Blog Id</label>
                                
                            </div>
                            <div class="form-floating" style="pointer-events: none;">
                                <input class="form-control" id="blogTitle" name="blogTitle" type="text" value="<%=comment.blogId.title%>" required />
                                <label for="blogTitle">Blog Title</label>
                                
                            </div>
                            <div class="form-floating" style="pointer-events: none;">
                                <input class="text" type="text" name="author" value="<%=comment.author%>" style="width: 0; height: 0; border: none;">
                            </div>
                            <div class="form-floating" style="pointer-events: none;">
                                <input class="text" type="text" name="controlId" value="<%=comment._id%>" style="width: 0; height: 0; border: none;" >
                            </div>
                            
                            <br />
                        
                            <div class="center" style="padding-top: 0;padding-bottom: 0; margin:0">
                                <div class="inputbox">
                                    <input type="submit" id="btn" value="Approve">
                                </div> 
                            </div>
                            
                        </form>
                        
                        <form  method="post" action="/blog/deleteComment" style="display: inline-block;">
                            <input class="text" type="text" name="controlId" value="<%=comment._id%>" style="width: 0; border: none;" >
                            <div class="center deleteBtn"  style="padding-top: 0;padding-bottom: 0; display: block; margin-left: 38%;">
                                <div class="inputbox">
                                    <input type="submit" id="btn" value="Delete">
                                </div> 
                            </div>
                        </form>
                    </div>
                    
                    <p class="post-meta" style="text-align: center;">
                        Commented by <%=comment.author%>
                        
                    </p>
                    <% }) %> 
                    <% if(!ifComment) { %>  
                        <div style="text-align: center;" ><p>Bekleyen Yorum Yok</p></div>
                    <%}%>
            </div>
        </div>
    </div>
    
    
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/script/scripts.js"></script>
    <!-- Bootstrap core JS-->
    

</body>

</html>