<!DOCTYPE html>
<html lang="tr">

<head>

    <%-include('./inc/head')%>
    <style>
       #controlComment input[type=text]{

        width: 100%;
        line-height: 15px;
        border: none;
       } 
    </style>
</head>

<body>
    <header class="masthead" style="background-image: url('img/home-bg.jpg'); padding-top: 2rem;padding-bottom: 3rem;">
        <%-include('./inc/nav')%>
    </header>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h3 class="post-header" style="text-align: center;">Comments Pending Approval</h3>
                <!-- Post preview-->
                <% comments.forEach( (comment) => { %>
                    <div class="post-preview">
                        <form id="controlComment" method="post" action="/blog/comment">
                            <input class="text" type="text" name="comment" value="<%=comment.comment%>">
                            <input class="text" type="text" name="blogId" value="<%=comment.blogId%>">
                            <input class="text" type="text" name="author" value="<%=comment.author%>" style="width: 0; border: none;">
                            <input class="text" type="text" name="controlId" value="<%=comment._id%>" style="width: 0; border: none;" >
                            <br>
                            <input type="submit" value="Approve">
                        </form>
                        <form  method="post" action="/blog/deleteComment">
                            <input class="text" type="text" name="controlId" value="<%=comment._id%>" style="width: 0; border: none;" >
                            <input type="submit" value="Delete">
                        </form>
                        <p class="post-meta">
                            Comment by
                            <a href="#"><%=comment.author%></a>
                            
                        </p>
                    </div>
                    <hr class="my-4" />
                <% }) %>     
                
            </div>
        </div>
    </div>
    
    
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="script/scripts.js"></script>
    <!-- Bootstrap core JS-->
    

</body>

</html>