<!DOCTYPE html>
<html lang="tr">

<head>

    <%-include('./inc/headHome')%>
    <link rel="stylesheet" href="/style/nav.css">
    <link rel="stylesheet" href="/style/homePage.css">
    <link rel="stylesheet" href="/style/card.css">

    
</head>

<body>
    <%-include('./inc/nav')%>

    <h2 style="position: absolute; top:8px;left :12px ; color: white;">Node Blog </h2>

    <div class="center container">
            
             <ul>
                <% blogs.forEach( (blog) => { %>
                    <li>   
                        <div class="post radius-20px">
                            <a href="/blog/get/<%=blog._id%>"><img src="/img/<%=blog.imgName%>" alt=""></a>
                            <div class="post-body">
                                <h3 class="post-header"><a href="/blog/get/<%=blog._id%>"><%=blog.title %></a></h3>
                                <p><%=blog.short %></p>
                                <p class="date"><%=blog.createdAt%></p>
                                <!-- <ul class="etiket">
                                    <li><a href="">Html5</a></li>
                                    <li><a href="">Css3</a></li>
                                    <li><a href="">Boostrap</a></li>
                                    <li><a href="">JavaScript</a></li>
                                </ul> -->
                            </div>

                        </div>
                    </li>
                
                <% }) %> 
            
        </ul>
        
    </div>



</body>

</html>